
.nav-link img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    border-style: none;
    padding: 10px;
}
.dropdown-menu {
    margin-top: 10px;
    width: 320px;
}

.user-header {
    padding: 20px;
    /* height: 270PX; */
    /* width: 450px; */
    background-color: #CCEFF7;
    border-radius: 10%;
}

.user-header img {
    height: 90px;
    width: 90px;
    border: 4px solid;
    border-radius: 50%;
    border-color: rgb(7, 164, 255);
    margin: 0px auto;
    margin-top: 10px;
}

.user-header .star-image {
    height: 10px;
    width:10px;
    margin-top: 0;
    margin-left: 0;
    border: 0;
    display: inline;
    /* text-align: center; */
    /* margin-left: 129px; */
    /* background-color: white; */
}

.review-small{
    margin-top: 20px !important;
}

.user-header p {
    font-size: 18px;
    text-shadow: 1px 1px 1px #333333ef;
    margin-top: 10px;
    color: rgb(7, 3, 3);
    text-align: center;
}

.user-header small {
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

.user-footer {
    display: flex;
    justify-content: space-between;
    /* margin: 5px 8px; */
}

.user-footer .log {
    margin-left: 50px;
}



.user-footer .left {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    float: left;
    width: 40%;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
}

.user-footer .left img {
    width: 20px;
    margin-right: 20px;
    margin-left: 3px;
}




.user-footer .right {
    margin-right: 15px !important;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 40%;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
}

.user-footer .right img {
    width: 20px;
    margin-right: 20px;
    margin-left: 3px;
}


@media only screen and (max-width: 600px) {
    .dropdown-menu {
        margin-top: 10px;
        width: 350px !important;
    }
  }
