body {
  overflow-x: hidden;
}
.banner-container {
  background-image: url("../img/banner3.png");

  /* height: 50%; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 13.875rem 10.375rem;
}

.body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.banner-container-about {
  background-image: url("../img/Header-UI-02.png");

  /* height: 50%; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 13.875rem 10.375rem;
}
.banner-into {
  font-size: 57px;
}
.main-title {
  font-size: 40px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 50%;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in-anim 4.5s ease-out forwards;
}

@keyframes slide-in-anim {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateX(-45%);
  }
  75% {
    transform: translateX(-52%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

.main-subtitle {
  font-size: 30px;
}
.banner-icons {
  background: #9fb8c6;
  padding: 5px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
.banner-icons:hover {
  background-color: #89cbf1;
}

.banner-btn {
  background: linear-gradient(
    90deg,
    #15b6e2,
    #10a3d3,
    #1190c2,
    #167db1,
    #1a6ba0,
    #1d5a8e,
    #1f487b,
    #1e3868
  ) !important;
  color: white;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  font-size: 17px;

  /* border: 2px solid white; */
}
.banner-btn:hover {
  background-color: #546f88 !important;
}
.banner-btn2 {
  transition: all 0.5s ease;
  color: #fff;
  border: 2px solid white;

  text-align: center;
  line-height: 1;

  background-color: transparent;
  padding: 10px 30px 10px 30px;
  outline: none;
  border-radius: 4px;
}
.banner-btn2:hover {
  color: #001f3f;
  background-color: #fff;
}

/* card content style */
.card-content {
  cursor: pointer;
  border: 2px solid #15b8e3 !important;
  border-radius: 25px !important;
  letter-spacing: 5px;
}
.card-content:hover {
  transform: scale(1.1);
  transition: 1s;
}
.active {
  border: 2px solid #0e8caf;

  font-weight: bold;
  border-radius: 5px;
}

/* animation end */
.typeing {
  text-align: center;
  color: #fff;
}

.typeing h1 a {
  color: white;
  text-decoration: none;
  font-size: 57px;
}

.wrapper {
  padding-top: 8.25rem;
  padding-bottom: 8.25rem;
}

.topHeading {
  background: linear-gradient(
    90deg,
    #15b8e3,
    #10a4d3,
    #1291c3,
    #167eb2,
    #1b6ca0,
    #1e5a8d,
    #1f497a,
    #1e3867
  );
}

/* animation end */

/* about mges start */
.question .puestion-image {
  height: 90%;
  width: 100%;
}

.question .question-button {
  background-color: #00add7;
  border-radius: 50px;
  font-size: 30px;
  padding: 10px 108px;
  color: rgb(255, 255, 255);
}

.question .question-button:hover {
  color: #ffff;
  box-shadow: rgba(156, 156, 156, 0.25) 0px 54px 55px,
    rgba(110, 110, 110, 0.12) 0px -12px 30px, rgba(85, 85, 85, 0.12) 0px 4px 6px,
    rgba(121, 121, 121, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.question-button-container {
  text-align: center;
  padding-top: 15%;
}

a:link {
  text-decoration: none;
}

.support {
  background-color: #cceff7;
  color: #1c4a74;
}

.support-title {
  background-color: #00add7;
  color: #ffff;
  border-radius: 0px 40px 40px 0px;
  padding: 25px 0px;
  margin-left: -12px;
}

.Support-image {
  width: 70%;
  padding: 10px;
  border: #00add7 2px solid;
  border-radius: 25px;
  margin-bottom: 100px;
}

.support-text-container {
  padding-top: 250px;
  padding-right: 80px !important;
}

.multi-language-title {
  background-color: #00add7;
  color: #ffff;
  border-radius: 40px 0px 0px 40px;
  padding: 25px 0px;
  margin-right: -12px;
}

.multi-language-image {
  width: 70%;
}

.multi-language-image-container {
  margin-bottom: 100px;
}

.about-title-right {
  background-color: #00add7;
  color: #ffff;
  border-radius: 40px 0px 0px 40px;
  padding: 25px 0px;
  margin-right: -12px;
}
.about-title-left {
  background-color: #00add7;
  color: #ffff;
  border-radius: 0px 40px 40px 0px;
  padding: 25px 0px;
  margin-left: -12px;
}

.about-page-primary-background {
  background-color: #cceff7;
}
.custome-primary {
  color: #00add7 !important;
}
.custome-primary-dark {
  color: #1e3767;
}
.up-image-view {
  width: 250px;
  border-radius: 10px;
}
.image-uploade-btn {
  background: linear-gradient(
    90deg,
    #005c02,
    #006229,
    #006757,
    #006a90,
    #006dca,
    #006bf9,
    #005dff,
    #002fff
  );
  padding: 10px 75px !important;
  color: #ffff !important;
  border-radius: 10px;
  margin-top: -10px;
}

.image-uploade-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-result {
  background-color: #fff;
  padding: 50px 30px;
  border-radius: 10px;
  margin: 2.5rem;
  /* margin-right: 100px; */
}

.result-image-contanier {
  padding: 10px 100px;
}

.result-tilte-text {
  margin-top: 50px !important;
  margin-left: 150px;
}
/* about mges end */

.about_image_one {
  width: 100%;
}

.about_one {
  padding: 80px 200px;
}

.p-text {
  text-align: justify;
  text-justify: inter-word;
}

.about_two {
  background-color: #00add7 !important;
  padding: 100px 250px;
  padding-top: 150px;
}
.about_three {
  background-color: #ffffff !important;
  padding: 100px 250px;
  padding-top: 150px;
}
.trust-item {
  height: 367px;
  width: 353px;
  align-items: center;
}

.item-border {
  border: #c5c5c58f 3px solid;
  padding: 10px 30px !important;
  padding-top: 100px !important;
}

.trust-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about_four {
  background-color: #00add7 !important;
  margin: auto;
  padding: 100px 250px;
}

.trust-item-image {
  height: 367px;
  width: 353px;
  object-fit: cover;
}
